{% extends "base_generic.html" %} 

{% block css %}
<style type="text/css">
        

</style>

{% endblock %}



{% block script %}

<script language="javascript" type="text/javascript">
        function showMask() {
          $('#loadingModal').modal({backdrop: 'static', keyboard: false});
          $("#loadingModal").modal('show');
            
        }
</script>

<script>
    function test(gameName){
      console.log(gameName);
      score = document.getElementById(gameName).value;
   
      document.getElementById("s"+gameName).innerHTML=score;
    }
</script>
{% endblock %}
{% block content %}

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"><div class="modal fade" id="loadingModal">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
      

  <div style="width: 200px;height:20px; z-index: 20000; position: absolute; text-align: center; left: 50%; top: 50%;margin-left:-100px;margin-top:-10px">
    <div class="spinner-border text-light" role="status"> 
    </div>
	</div>
</div>
    
</div>
</div>
<div class=" container">
  <div class="jumbotron jumbotron-fluid ">
    <div class="row container">
      <div class="col-sm-9">
        <h1 class="display-4">Game Recommender System</h1>
        <p class="lead">Please mark your favourite games</p>
        {% load static %}
      </div>
        <div class="col-sm-2">
          <img src="{% static "heroku_url.png" %}" height="200px" width="200px" alt="" />
        </div>
    </div>
    
  </div>
</div>

<div class="container">
    <form action='/index/' method='POST' class="form-inline my-2 my-lg-2">
      {% csrf_token %}
      <input class="form-control mr-md-2 btn btn-dark" type="submit" name='method' value='Collaborative-Filtering' onclick="showMask();"/>
      <br></br>
      <input class="form-control mr-md-2 btn btn-dark" type="submit" name='method' value='Content-Based' onclick="showMask();"/>
      <input type="hidden" name="currentMethod" value="{{ rsMethod }}" />
      <br></br>
      <input class="form-control mr-md-2 btn btn-danger" type="submit" name='clear' value='Clear' onclick="showMask();"/>
      
    </form>
</div>
<div class="container">
  <div class="row">
    {% for game in gameList %}
    <div class="card col-md-3">
      <img src="{{ game.image }}" class="card-img-top img-fluid" alt="" />
      <div class="card-body">
        <p class="card-title">{{ game.name }}</p>
      </div>
      <div class="card-footer">
        <form action="/index/" method="POST">
          {% csrf_token %}
          {% if rsMethod == 1%}
          <input type="hidden" name="method" value="{{ rsMethod }}" />
          <input type="hidden" name="name" value="{{ game.name }}" />
          <input type="submit" value=❤ class="btn btn-danger col-12" onclick="showMask();">
          {% elif rsMethod == 2%}
          <input type="hidden" name="method" value="{{ rsMethod }}" />
          <input type="hidden" name="name" value="{{ game.name }}" />
          {% if game.predictedScore %}
          <div class="row col-16" align="center" >
  
            <input type="range" name="score" id="{{game.name}}" min="0" max="100" step="1" value="{{game.predictedScore}}" class="col-9" onchange="test(this.id)"/>
            <p id="s{{game.name}}" class="col-3">{{game.predictedScore}}</p>
          </div>
          {% else %}
          <div class="row col-16" align="center" >
            <input type="range" name="score" id="{{game.name}}" min="0" max="100" step="1" value="0" class="col-9" onchange="test(this.id)"/>
            <p id="s{{game.name}}" class="col-3">0</p>
          </div>
          {% endif %}
          <input type="submit" value=✔︎ class="btn btn-danger col-12" onclick="showMask();"/>
          {% endif %}
        </form>
      </div>
    </div>
    {% endfor %}
    
  </div>
</div>

{% endblock %}

