{% extends "base_generic.html" %} 

{% block css %}
<style type="text/css">
        

</style>

{% endblock %}



{% block script %}

<script language="javascript" type="text/javascript">
        function showMask() {
          $('#loadingModal').modal({backdrop: 'static', keyboard: false});
          $("#loadingModal").modal('show');
            
        }
</script>
{% endblock %}
{% block content %}
<div class="modal fade" id="loadingModal">
	<div style="width: 200px;height:20px; z-index: 20000; position: absolute; text-align: center; left: 50%; top: 50%;margin-left:-100px;margin-top:-10px">
    <div class="spinner-border text-light" role="status">
    </div>
	</div>
</div>
    
</div>
</div>
<div class=" container">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Game Recommender System</h1>
      <p class="lead">Please mark your favourite games</p>
    </div>
  </div>
</div>
<div class="container">
    <form action='/index/' method='POST' class="form-inline my-2 my-lg-2">
      {% csrf_token %}
      <input class="form-control mr-sm-2 btn btn-dark" type="submit" name='method' value='Collaborative-Filtering' onclick="showMask();">
      <input class="form-control mr-sm-2 btn btn-dark" type="submit" name='method' value='Content-Based' onclick="showMask();">
      <input type="hidden" name="method" value="{{ rsMethod }}" />
      <input class="form-control mr-sm-2 btn btn-danger" type="submit" name='clear' value='Clear' onclick="showMask();">
    </form>
</div>
<div class="container">
  <div class="row col-md-12">
    {% for game in gameList %}
    <div class="card col-md-3">
      <img src="{{ game.image }}" class="card-img-top img-fluid" alt="" />
      <div class="card-body">
        <p class="card-title">{{ game.name }}</p>
      </div>
      <div class="card-footer">
        <form action="/index/" method="POST">
          {% csrf_token %}
          {% if rsMethod == 1%}
          <input type="hidden" name="method" value="{{ rsMethod }}" />
          <input type="hidden" name="name" value="{{ game.name }}" />
          <input type="submit" value=❤ class="btn btn-danger col-12" onclick="showMask();">
          {% elif rsMethod == 2%}
          <input type="hidden" name="method" value="{{ rsMethod }}" />
          <input type="hidden" name="name" value="{{ game.name }}" />
          <input type="submit" value=❤ class="btn btn-danger col-12" onclick="showMask();">
          {% endif %}
          
          
        </form>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}

